.promo {
    min-height: 650px;
    padding: 21px 0 93px 0;
    background: url(../img/bg1.jpg) center (center/cover) no-repeat;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 90px;
    }

    &__header {
        font-size: 42px;
        font-weight: 700;
        color: #ffffff;
        text-transform: uppercase;
        line-height: 42px;
    }

    &__subheader {
        margin-top: 17px;
        font-size: 24px;
        font-weight: 500;
        color: #ffffff;
        text-transform: uppercase;
    }

    &__icons {
        margin-top: 67px;
        width: 425px;
        display: flex;
        justify-content: space-between;
    }

    &__icon {
        width: 108px;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        color: #ffffff;

        img {
            margin-bottom: 20px;
            display: block;
            margin: 0 auto;
        }
    }

    &__link {
        font-size: 16px;
        font-weight: 500;
        color: #ffffff;
        margin-top: 18px;

        a {
            text-decoration: underline;
            text-transform: uppercase;
            color: #ffffff;
        }
    }
}